doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    header
      h1= title
    block content
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    block scripts